---
import Layout from "@layouts/Layout.astro";
import RecursiveList from "@components/RecursiveList.astro";
import PrettyDate from "@components/PrettyDate";
import ScrollToTop from "@components/ScrollToTop";
import Lightbox from "@components/Lightbox";
import { execSync } from "child_process";

import ListItem from "@components/ListItem";

const allAuthorDatesWithExplicitContentEdit = execSync(
  `git log --follow --name-status --pretty=\"format:%aI|%s\" -- ${Astro.props.file}`
).toString();

const [_, lastContentEditDate] =
  allAuthorDatesWithExplicitContentEdit.match(
    /(20[\d\-T:.Z+]+)\|(Edit content?.+)$(?!\r?\nR)/im
  ) || [];

export interface Props {
  title: string;
  children: Node | Node[];
}

const {
  title,
  description,
  categories = [],
  keywords = [],
  dateCreated,
  author,
  timeToRead,
} = Astro.props.frontmatter;

const { headings } = Astro.props;

const currentPath = Astro.url.pathname;
---

<Layout
  title={`${title} | HynekS`}
  description={description}
  categories={categories}
  keywords={keywords}
  dateCreated={dateCreated}
  author={author}
>
  <div class="flex">
    <aside class="hidden md:block md:w-1/5">
      <RecursiveList headings={headings} />
    </aside>
    <main class="flex-auto max-w-full [margin-right:calc((50%-30ch)/2)]">
      <article
        class="prose mx-auto pt-8 px-4 lg:prose-lg lg:px-0 dark:prose-dark pb-16 prose-code:before:content-none prose-code:after:content-none prose-h1:[letter-spacing:-0.01em]"
        data-is_article
      >
        <h1 id="overview">{title}</h1>
        <div class="not-prose font-mono text-sm dark:text-gray-400">
          {
            categories.length ? (
              <ul class="flex gap-1.5 mt-0 mb-1 ml--1 py-2">
                {categories.map((category) => (
                  <ListItem category={category} />
                ))}
              </ul>
            ) : null
          }
          posted <PrettyDate date={new Date(dateCreated)} /> ∙ by {author} ∙
          {timeToRead}
        </div>
        <slot />
        {
          lastContentEditDate ? (
            <p class="text-xs">
              last modified <PrettyDate date={new Date(lastContentEditDate)} />
            </p>
          ) : null
        }
        <hr />
        <p class="text-sm">
          If you find anything in this post that should be improved (either
          factually or in language), feel free to{" "}
          <a
            href=`https://github.com/HynekS/personal-website-astro/tree/main/src/content${currentPath}index.mdx`
            rel="noopener noreferrer"
            target="_blank"
          >
            edit it on Github
          </a>
          .
        </p>
      </article>
    </main>
  </div>
  <ScrollToTop client:load />
  <Lightbox client:only="preact" />
</Layout>
